<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ3XOnf2UekTf4zcM-VT1dxVletwroTGE</string>
	<key>GCM_SENDER_ID</key>
	<string>849335743106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misTracker</string>
	<key>PROJECT_ID</key>
	<string>mis-tracker-85ebd</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-tracker-85ebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849335743106:ios:271969a9b429b83425ba9b</string>
</dict>
</plist>